.item{
    background-color: #210A01;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;

}

.items{
  display: flex;
  justify-content: space-around;
  gap: 40px;

}

body{
  background-color: #321104;
}

.quantity{
    display: flex;
}

/*Обнуление*/


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}


/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
 
}


/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}


/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*{color: white;}


  *{font-family: "Patrick Hand", cursive;}
  li { list-style-type: none; }
  a{
    text-decoration: none;
    color: #A3A3A3;
  }

  .wrapper{
    width: 1200px;
    margin: 0 auto;
  }

  button{
      background-image: linear-gradient(90deg, #FE9C1C, #FF5E2A);
      color: white;
      padding: 6px 50px;
      font-size: 16px;
      border: none;
      border-radius: 50px;
  }

  button:hover{
    cursor: pointer;
  }

  .menu-pizza{
      background-image: none;
      background-color: #210A01;
      box-shadow: 3 9 40 rgb(255,107,0,6);
      height: 60px;
      width: 230px;
   
  }

  .pizza-menu{
    height: 60px;
    width: 25;

  }

  .cataloge-button button{
    display: block;
  }

  .cataloge-button{
    display: flex;
    justify-content: space-around;
  }

  .cataloge h2{
    text-align: center;
    font-size: 50px;
    margin: 50px auto;
  }

  .pizza-size{
    background-image: none;
    background-color: #210A01;
    border: 2px solid gray;

  }

  .size button{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;

    display: block;
    
  }

  .size{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0 auto;

  }

  .Ingridients{
   background-image: none;
    background-color: #210A01;
    border: 2px solid #FE9C1C;
    color: #FE9C1C;
    margin: 5px;

  }

  .price{
   font-size: 30px;
  }

  
   
nav{
  display: flex;
  width: 100%;
  height: 50px;
  margin: 50px auto;
  align-items: center;
  justify-content: space-between;
}
nav li{
display: inline-block; 
 padding: 40px;
}
.basket{
  display: flex;
  align-items: center;
  gap: 10px;
}


.active{
   color: #FE9C1C;
}

.hh{
 width: 170px;
 height: 200px;
 border-radius: 20px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  padding: 70px;
  
  
}

.header .text h1{
  font-size: 70px;
}

.header .text p{
  font-size: 20px;
  color: gray;
  margin-bottom: 40px;
}

.header .img{
 /* flex-basis: 50%;*/
  padding: 50px;
  box-sizing: border-box;
}

.header .img img{
  border-radius: 20px;
 height: 650px;

}

header{
  border-bottom: 2px dashed gray;
  width: 100%;
}

.quantity{
 margin: 20px;
 display: flex;
 justify-content: space-around;
 gap: 10px;
 align-items: center;
}

.popular{
  width: 93%;
  height: 300px;
  margin: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/backround.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
 
}

.video{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/691d72a9f0112f3371a21838d441c8b3e335c2c4.jpg);
  width:70%;
  height: 193px;
  margin-bottom: 50px;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  background-position:center;
  
}

#events{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
   height:1055px ;
  gap: 25px;
  margin-bottom: 40px;
  margin-top: 80px;
  
}

.TWO-PIZZA{
  grid-column: 1/3;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/freecoffe.jpg);
   
}

.KITCHEN-TOUR{
  grid-column: 3/5;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/jjjjjjppppp.jpg);

}

.HOW-WE-COOKING{

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/backround.jpg);

}

.OUR-BLOG{

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/kkokk.jpg);
}

.FREE-COFFEE{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/instagram.jpg);
}

.OUR-INSTAGRAM{

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/where.jpg);

}

.CHOOSE-US{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/ppppppo.jpg);
}

.positsion{
  padding: 60px;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  border-radius: 30px;
}

.positsion h3{
  padding-bottom: 60px;
  font-size: 40px;
  
}

.Events1 h2{
 font-size: 70px;
}

.Events1{
  text-align: right;
}

.Events1 p{
  color: #A3A3A3;
  font-size:15px;
}

#events button{
  width: 250px;
  height: 40px;
}

#about-us{
  height: 764px;
  display: flex;
  gap: 300px;
  margin: 50px;
  align-items: center;

}

.text-hh h2{
  font-size: 80px;
}

.text-hh p{
  font-size: 15px;
  color: #A3A3A3;
}

.text-hh{
  width: 490px;
  height: 540px;
}

.hahal{

 
}

footer li{
  color: #A3A3A3;
}

.hahal{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  font-size: 20px;
}

.number h3{
background-image: linear-gradient(rgba(255,93,41,1),rgba(254,156,28,1));
 -webkit-background-clip: text; /* Обрезает фон под текстом (для старых браузеров) */
  background-clip: text; /* Обрезает фон под текстом */
  -webkit-text-fill-color: transparent; /* Делает текст прозрачным (для старых браузеров) */
  color: transparent; /* Делает текст прозрачным */
}

footer{
   background-color: #210A01;
  padding: 80px;
}
 


  
   















